@{
    Layout = null;
}

<div class="chat-socket">
    <div class="messages">
        
    </div>
    <hr/>
    <input type="text" name="user" placeholder="username" /><br/>
    <input type="text" name="text" placeholder="text" width="300"/><br/>
    <button>Отправить</button>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/ChatWebSocket.js"></script>